{
    "plugins": [
        [
            "@babel/plugin-transform-react-jsx",
            {
               "pragma": "h",
				"pragmaFrag": "Fragment"
            }
        ],
        [
            "babel-plugin-htm",
            {
                "tag": "htm",
                "pragma": "h",
                "pragmaFrag": "Fragment"
            }
        ]
    ]
}
